<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>本人情報</h2>
      <%= render 'users/info', user: @book.user %>
      <h2 class="mt-3">新作</h2>
      <%= render 'books/form', book: Book.new %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h2>本 詳細</h2>
      <table class='table'>
        <tr id="book_<%= @book.id %>">
          <td>
            <%= link_to user_path(@book.user) do %>
              <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, book_path(@book) %></td>
          <td><%= @book.body %></td>

          <td class="favorite-btn">
            <%= render "favorites/favorite-btn", book: @book %>
          </td>

          <td class="comments-count">
            コメント数: <%= @book.book_comments.count %>
          </td>
          <% if @book.user == current_user %>
            <td>
              <%= link_to '編集', edit_book_path(@book), class: "btn btn-sm btn-success edit_book_#{@book.id}" %>
            </td>
            <td>
              <%= link_to '消去', book_path(@book), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{@book.id}"%>
            </td>
          <% end %>
        </tr>
      </table>

      <div class="book_evaluate">
        <table class="book_comments">
          <%= render 'book_comments/index', book: @book %>
        </table>
      </div>
      <p class="books_show_kara"></p>
      <%= form_with model:[@book,@book_comment] do |f| %>
        <%= f.text_area :comment, size:"90x5" %>
        <div id="evaluate_stars">
          <label>評価</label>
        </div>
        <p></p>
        <%= f.submit '送信' %>
      <% end %>
      <script>
      $('#evaluate_stars').empty();
        $('#evaluate_stars').raty({
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'book[evaluation]'
        });
      </script>
    </div>
  </div>
</div>